numpy==1.21.2
opencv-python==4.1.0.25
#PyQt5==5.15.4
#PyQt5-sip==12.9.0
tflite-runtime @ https://github.com/google-coral/pycoral/releases/download/release-frogfish/tflite_runtime-2.5.0-cp37-cp37m-linux_armv7l.whl
